<?php

return [
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'params' => [
                    'user' => 'testuser',
                    'password' => 'testpass'
                ]
            ]
        ]
    ]
];
