<?php
return [
    'db' => [
        'username' => 'testuser',
        'password' => 'testpass',
    ],
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'params' => [
                    'user'     => 'testuser',
                    'password' => 'testpass',
                    'dbname'   => 'dbtest',
                ]
            ]
        ],
    ],
];